*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root{  
--Dark-Blue: hsl(240, 38%, 20%);
--Grayish-Blue: hsl(240, 18%, 77%);
}

body{
    font-size: 1.7rem;   
   background-image: url(/images/pattern-bg.svg);
   background-repeat: no-repeat;
   background-position: center right;
}

.container{
    padding: 1rem;
    width: 100%;
    max-width: 80%;
    margin: 2rem auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    
}

.container .content{
    position: absolute;
    left: 0;
    width: 55%;
    z-index: 1;

}
.content .dev__name{
    color: var(--Dark-Blue);
    font-weight: bold;
}
.container .content .dev-ex{
    color: var(--Dark-Blue);
}

.container .content p:last-child{
    color: var(--Dark-Blue);
    margin-top: 2rem;
    font-size: 1.5rem;
}

.container .content p:last-child .ex{
   color: var(--Grayish-Blue);
}
.container .dev__images{
    position: relative;
    left: 30rem;
}

.container .dev__images img{
    border-radius: 1rem;
}

.dev__images .buttons{
    background: #fff;
    position: absolute;
    padding: .3rem .1rem;
    bottom: -.5rem;
    left: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 4rem;
    box-shadow: 0 0 .3rem var(--Dark-Blue);
}

.buttons button{
    padding: .1rem 1rem;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}



@media (max-width: 1000px){
    .container{
        flex-direction: column;
        
    }

     .container .content{
       position: absolute;
       top: 40rem;
       width: 100%;
       left: 0;
     }
     .container .dev__images{
      position: static;
      left: -10rem;
    }


}